@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* default styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: rgb(255, 255, 255);
}

.navbar{
  background-color:#42a5f5;
  display: flex;
  border-bottom: 1px solid #f2f2f2;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #35f15e;
}

.content{
  display: flex;
  background-color: #42a5f5;
  padding: 20px;
  
}

.VideoPreview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  border-left: 1px solid #fafafa;
  border-right: 1px solid #fafafa;
  border-top:  1px solid #fafafa;
}
.VideoPreview:hover {
  box-shadow: 1px 3px 5px #fafafa;;
}
.VideoPreview a {
  text-decoration: none;
}
.VideoPreview h2 {
  font-size: 20px;
  color: #fafafa;
  margin-bottom: 8px;
}
.videoDetails h3{
  margin-top: 10px;
}
.videoDetails p{
  text-indent: 30px;
}

.addVideo{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.addVideo h2 {
  font-size: 20px;
  color: #fffbfd;
  margin-bottom: 10px;
}
.addVideo input, .addVideo textarea, .addVideo select{
  color: #42a5f5;
  font-weight: bold; 
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.addVideo select option {
  background-color: #fafafa;
  color: #42a5f5;
}

.addVideo button {
  background: #fafafa;
  color: #42a5f5;
  border: 0;
  font-weight: bold;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
}
